body{
	height: 100vh;
  background: linear-gradient(#1435E1, #9198e5);}
}

.login{
	margin-top: 10%;
}

.titulo-login {
	background-color: transparent;
	border: none;
	margin: auto;
}

.contenido-login {
	border: none;
	background-color: transparent;
}

.container {
	max-width: 100% !important;
}

#login {
  padding-top: 10%;
}

#HUBU:before {
	content: attr(data-desktoptext);
}

@media (max-width: 480px) {
  #HUBU:before {
    content: attr(data-phonetext);
  }
}

.dropdown-toggle { outline: 0; }

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  text-decoration: none;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #000000;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #000000;
}

#tablaPacientes_length {
  color: white;
}

#tablaPacientes_info {
  color: white;
}

#tablaPacientes_previous {
  color: white !important;
}

#tablaPacientes_next {
  color: white !important;
}

#tablaPacientes tfoot {
    display: table-header-group !important;
    background-color: grey;
}

#tablaPacientes_filter {
  display: none;
}